@charset "utf-8";
/* CSS Document */

.body-padding{
    padding-top:50px;
}
.navbar{
    margin-bottom: 0px;
}

.navbar-default {
  background-color: #323232  ;
  background:-moz-linear-gradient(bottom,#5A5A5A,#323232); /* Firefox */
background:-webkit-gradient(linear,left top,left bottom,from(#5A5A5A),to(#323232)); /* Chrome, Safari */
filter: progid:DXImageTransform.Microsoft.gradient(start
Colorstr='#323232',endColorstr='#5A5A5A'); /* Internet Explorer */
  border-color: #323232 ;
  border-radius: 0px;
  font-size: 16px;
  
-webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.71);
-moz-box-shadow:    0px 3px 4px 0px rgba(50, 50, 50, 0.71);
box-shadow:         0px 3px 4px 0px rgba(50, 50, 50, 0.71);
}


.navbar-fixed-top{
    border-width: 0px;
}


.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color:#93D706 ;
    
}

.navbar-default .navbar-nav>li>a{
    color:#C1F15B ;
    
}

.navbar-default .navbar-nav>.open>a{
    background-color: #828282;
}

.btn-default:hover, btn-default:focus{
    background-color: #93D706;
    border-color: #828282;
    color: #323232 ;
}

.btn-default{
    background-color: #C1F15B ;
    border-color: #828282 ;
    color: #323232 ;
}

#wrapper {
    padding-left: 0;
    min-padding-right: 120px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    page-break-inside:avoid;

}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1040;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #5A5A5A;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-top: 1px;
    border-top-color: #D2D2D2;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
#page-content-wrapper{
    width: 100%;
    float:left; 
}
#page-list-wrapper {
    width: 100%;
    padding: 15px;
    float:left;
    
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #D2D2D2;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #C1F15B;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
     color: #93D706;
     border-bottom: 1px;
     border-bottom-color: #323232;
}

.sidebar-nav > .sidebar-brand a {
    color: #93D706;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:10px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
	

}


#page_content_left{
    background-color:#FFF;
    margin-bottom: 20px;
}

#page_content_right{
    background-color:#FFF;
    
    border-left-color: #AAAAAA;
    border-left-style:solid;
    border-left-width:1px;

    
}

.h4{
    color: #5B8600 ;
}

.thumbnail{
    border-color: #AAAAAA ;
    
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.thumbnail:hover{
      border-color: #C1F15B ;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(91, 134, 0, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(91, 134, 0, .6);
}

hr{
    border-color: #AAAAAA;
}

.carousel{
    max-width: 1200px;
    margin-left:auto;
    margin-right: auto;
    
}

#carousel_row{
    background-color: #323232;
    padding: 0px;
    
}

#page_list_wrapper{
    padding: 15px;
    
    
}

.content_list{
    margin-bottom: 60px;
    
}



.row{
    margin-left: 0px;
    margin-right: 0px;
    
}

.modal-dialog{
    
    width: 50%;
    min-width: 300px;
    max-width: 600px;
    margin-top: 100px;
}

.skill_box{
    width:100%;
    height: 100%;
    min-height: 100px;
    border:solid;
    border-width: 1px;
    border-color: #AAAAAA;  
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 10px;
    max-height: 320px;
    overflow-y: auto;
    margin-top: 20px;
    
    -webkit-box-shadow: 2px 2px 5px 0px rgba(50, 48, 50, 0.5);
    -moz-box-shadow:    2px 2px 5px 0px rgba(50, 48, 50, 0.5);
    box-shadow:         2px 2px 5px 0px rgba(50, 48, 50, 0.5);
    
}

.media-object{
    max-height:150px;
    max-width: 150px;
}

.content_heading{
    margin-bottom: 30px;
}

#upload_tag{
    
    top: 0px;
    right: 10%;
    position:absolute;
    float: right;
    margin: 15px;
    z-index: 500;
    width:50px;
    height:50px;
}



.banner{
    width: 100%;
    
}

#banner_wrap{
    position:relative;
    background-color: #323232;
    padding-left:10%;
    padding-right:10%;

}

#PicUploadModal .modal-content{
width: 100%;

}

.tag{
	background-color:#C1F15B;
	border-radius: 10px;
	margin: 2.5px;
	padding: 8px !important;
}

.tag_delete{
	display:none;
	float: right;
	padding-left: 5px;
	width:0px;
	height:100%;
}

.skill_btn{
	color: #AAAAAA;
	border:none;
	background-color: #FFF;
}

.skill_btn:hover{
	color: #5B8600;
	border:none;
	background-color: #FFF;
}

.skill_a{
	color: #AAAAAA;
}

.skill_a:hover{
	color: #5B8600;
	text-decoration:none;
}


.skill_box_bottom{
	height: 30px;
	bottom: 0px;
	text-align:right;
	color:#AAAAAA;
	margin-bottom: -10px;
}

a{
    color: #323232;
	text-decoration:none;
}

a:hover{
    color: #93D706 ;
	text-decoration:none;
    
    
}

#select-chat-box{
	border-width: thin;
	border-style:solid;
	height: 500px;
	width: 350px;
	background-color: #323232;
	position:static;
	border-radius: 20px;
}



#chat-wrapper{
	border-style:none;
	height: 500px;
	width: 100%;
	max-width: 800px;
	padding: 0px;
	position:relative;
	border-radius: 20px;
	background-color:#FFF;
}

#chat-footer{
	width:100%;
	height: 100px;
	bottom: 0px;
	float:left;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #323232;
	 position:absolute;
	 z-index:200;
	 border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}

#chat-footer .btn-default{
	border-style:none;
}

#chat-box{
	padding-right: 20px;
	padding-left: 20px;
	float:left;
	height: 100%;
	max-height: 320px;
	overflow-y:scroll;
	width: 100%;
	min-height: 30px;
	margin-top:80px;
	
}

#chat-head{
	float:left;
	width:100%;
	height: 80px;
	position:absolute;
	border-bottom-width:thin;
	border-bottom-style:solid;
	background-color:#AFEA32 ;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

#chat-row{
	padding: 15px;
	background-color: #D2D2D2  ;
	-webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.71);
-moz-box-shadow:    0px 3px 4px 0px rgba(50, 50, 50, 0.71);
box-shadow:         0px 3px 4px 0px rgba(50, 50, 50, 0.71);
margin-bottom: 20px;
}

.chat-col{
	margin-bottom: 20px;
}

#chat{
	list-style:none;
	padding: 0px;
}

.chat-img{
	padding-left: 5px;
	padding-right: 5px;
}
#chat li{
	margin-top:15px;
	border-bottom-style:dotted;
	border-bottom-color: #AAAAAA;
}

.stacked-list{
	list-style:none;
	padding: 15px;
	color:#d2d2d2;
	width:350px;
	position:static;
	overflow-y:scroll;
	height:500px;

}

.stacked-list li{
	width: 100%;
	

}


