@charset "utf-8";
/* CSS Document */

*{
	padding: 0;
	margin: 0;
}

.body-padding{
    padding-top:50px;
}

@font-face{
	font-family: "Source Sans Pro";
	src: url("/public/fonts/SourceSansPro-Regular.woff") format("woff");
}

@font-face{
	font-family: "OpenSans";
	src: url("/public/fonts/OpenSans-Regular.ttf") format("ttf");
}

.navbar{
    margin-bottom: 0px;
}

.navbar-brand {
	margin: 0 !important;
}

.navbar-default {
  background-color: #323232  ;
  background:-moz-linear-gradient(bottom,#5A5A5A,#323232); /* Firefox */
background:-webkit-gradient(linear,left top,left bottom,from(#5A5A5A),to(#323232)); /* Chrome, Safari */
filter: progid:DXImageTransform.Microsoft.gradient(start
Colorstr='#323232',endColorstr='#5A5A5A'); /* Internet Explorer */
  border-color: #323232 ;
  border-radius: 0px;
  font-size: 16px;
  
-webkit-box-shadow: 0px 3px 4px 0px rgba(50, 50, 50, 0.71);
-moz-box-shadow:    0px 3px 4px 0px rgba(50, 50, 50, 0.71);
box-shadow:         0px 3px 4px 0px rgba(50, 50, 50, 0.71);
}


.navbar-fixed-top{
    border-width: 0px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color:#93D706 ;
}

.navbar-default .navbar-nav>li>a{
    color:#C1F15B ;
}

.navbar-default .navbar-nav>.open>a{
    background-color: #828282;
}

.btn-default:hover, btn-default:focus{
    background-color: #93D706 !important;
    border-color: #828282;
    color: #323232 ;
}

.btn-default{
    background-color: #C1F15B !important;
    border-color: #828282 ;
    color: #323232 ;
}

.btn-default.active{
    background-color: #93D706 !important;
    border-color: #828282 ;
    color: #323232 ;
}

.btn-danger{
	background-color: #CC3114;
}

#wrapper {
    padding-left: 0;
    min-padding-right: 120px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    page-break-inside:avoid;

}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1040;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #5A5A5A;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-top: 1px;
    border-top-color: #D2D2D2;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
#page-content-wrapper{
    width: 100%;
    float:left; 
    position: relative;
    background-color: white;
}
#page-list-wrapper {
    width: 100%;
    padding: 15px;
    float:left;
    
}

#wrapper.toggled #page-content-wrapper {
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #D2D2D2;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #C1F15B;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
     color: #93D706;
     border-bottom: 1px;
     border-bottom-color: #323232;
}

.sidebar-nav > .sidebar-brand a {
    color: #93D706;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:10px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
	

}


#page_content_left{
    background-color:#FFF;
    margin-bottom: 20px;
}

#page_content_right{
    background-color:#FFF;
    
    border-left-color: #AAAAAA;
    border-left-style:solid;
    border-left-width:1px;

    
}

.h4{
    color: #5B8600 ;
}

.thumbnail{
    border-color: #AAAAAA ;
    
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.thumbnail:hover{
      border-color: #C1F15B ;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(91, 134, 0, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(91, 134, 0, .6);
}

hr{
    border-color: #AAAAAA;
}

.carousel{
    max-width: 1200px;
    margin-left:auto;
    margin-right: auto;
    
}

.carousel-row{
    padding: 0px;
}

#page_list_wrapper{
    padding: 15px;
    
    
}

.content_list{
    margin-bottom: 75px;
}

.content_list hr{
	margin: 0 0 20px 0;
	border-top-style: solid;
	border-top-width: 5px;
	border-top-color: #CCC;
}

.list-headline{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #555;
}

.list-headline>span{
	font-size: .75em;
	margin-right: 10px;
}

.list-headline .glyphicon{
	margin-right: 5px;
	font-size: .8em;
}

.row{
    margin-left: 0px;
    margin-right: 0px;
}

.modal-dialog{
    
    width: 50%;
    min-width: 300px;
    max-width: 600px;
    margin-top: 100px;
}

.media-object{
    height:100px;
    width: 100px;
}

.media-object-small{
    height:50px;
    width: 50px;
}

.media-heading{
	padding-top: 5px;
}

.content_heading{
    margin-bottom: 30px;
}

#upload_tag{
    
    top: 0px;
    right: 10%;
    position:absolute;
    float: right;
    margin: 15px;
    z-index: 500;
    width:50px;
    height:50px;
}



.banner{
    width: 100%;
	max-height: 250px;
    
}

#banner_wrap{
    position:relative;
    background-color: #323232;
    padding-left:10%;
    padding-right:10%;

}

#PicUploadModal .modal-content{
	width: 100%;
}

.tagbox{
	border-radius: 4px;
	overflow: hidden;
	display: inline-block;
	  border:solid;
	  border-width: 1px;
	  border-color: #EEE;  
	  margin-top: 10px;
	  position: relative;
	  width: 100%;
	  height: 100%;
	white-space: nowrap;  
	font-size: 0;
}

.tagbox-inner{
	position: relative;
	height: 100%;
}

.tagbox-list{
	height: 100%;
	width: 100%;
	padding: 3px 3px 25px 3px;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.tagbox-recommend-search{
	padding-left: 5px;
	padding-right: 5px;
	background-image: url(/public/images/magnifier.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right center;
	border: 0;
	position: absolute;
	border-radius: 5px;
	background-color: #DDD;
	width: calc(100% - 45px);
	font-size: 14px;
	height: 30px;
	bottom: 5px;
	left: 5px;
	box-shadow: 0px 0px 5px #666;
}

.tagbox-recommend-search:focus{
	outline: 0;
}

.tag{
	color: #555;
	font-size: 14px;
	display: block;
	float: left;
	border-radius: 5px;
	margin: 2.5px;
	padding: 2px 5px 2px 5px;
	cursor: default;
}

.tag.tag-exists-already{
	background-color: #AAA !important;
	cursor: default !important;
}

.tagbox-tags .tag, .user-review .tag{
	background-color:#C1F15B;
}

.tagbox-recommend .tag{
	background-color: rgba(93,192,255,1);
	cursor: pointer;
}

.tagbox-recommend .tag:hover{
	background-color: rgba(73,172,235,1);
	cursor: pointer;
}

.tag-remove{
	opacity: 0.5;
	font-size: 12px;
	padding-left: 5px;
	cursor: pointer;
}

.tag-btn{
	border-radius: 5px;
	border: 0;
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 12px;
	background-color: #C1F15B;
	color: #555;
}

.tag-btn:focus{
	outline: 0;
}

.tag-btn:active{
	background-color: #99D913;
}

.tag_a{
	color: #AAAAAA;
}

.tag_a:hover{
	color: #5B8600;
	text-decoration:none;
}

a{
    color: #323232;
	text-decoration:none;
}

a:hover{
    color: #93D706 ;
	text-decoration:none;   
}

#select-chat-box{
	border-left-width: thin;
	border-left-style:solid;
	border-left-color: #AAAAAA;
	height: 500px;
	background-color: #FFF;
	float: left;
	padding-right: 15px;
}

#tag_search_result{
	overflow: hidden;
}

.chat-wrapper{
	margin-top: 50px;
	border-style:none;
	height: 500px;
	padding-left:25px;
	position:relative;
	background-color:#FFF;
	float: left;
}

.chat-footer{
	height: 100px;
	bottom: 0px;
	float:left;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #FFF;
	 position:absolute;
	 z-index:200;
}

.chat-footer .btn-default{
	border-style:none;
}

.chat-box{
	overflow: hidden;
	padding-right: 20px;
	padding-left: 20px;
	float:left;
	height: 100%;
	max-height: 320px;
	overflow-y:scroll;
	width: 100%;
	min-height: 30px;
	margin-top:25px;
	-webkit-box-shadow: inset 2px 2px 10px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    inset 2px 2px 10px 0px rgba(50, 50, 50, 0.75);
box-shadow:         inset 2px 2px 10px 0px rgba(50, 50, 50, 0.75);
}

.chat-row{
margin-bottom: 10px;
}

.chat-col{
	margin-bottom: 20px;
	padding: 0px;
}

.chat{
	list-style:none;
	padding: 0px;
}

.chat-img{
	padding-left: 5px;
	padding-right: 5px;
}
.chat li{
	margin-top:15px;
	border-bottom-style:dotted;
	border-bottom-color: #AAAAAA;
	border-bottom-width: 1px;
}

.stacked-list{
	list-style:none;
	padding: 15px;
	color:#323232;
	position:static;
	overflow-y:scroll;
	height:420px;

}

.stacked-list li a{
	color: #323232;
	

}

.stacked-list li a:hover{
	color: #93D706;

}

.item-active{
color: #93D706 !important;
-webkit-box-shadow: inset 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    inset 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
box-shadow:         inset 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
}
.select-chat-box-head{
	width: 100%;
	height:50px;
	color: #323232;
}
::-webkit-scrollbar { 
    display: none; 
}

.chat-body{
 margin-bottom: 10px;
}

.project-desc-tab{
	margin: 5px;
}

.project-property{
	text-align: center;
	border-bottom-style: none;
	border-bottom-color: #AAAAAA;
	border-bottom-width: 1px;
	width: 100%;
	float: left;
}

.property-title{
	font-size: 16px;
	font-weight: bold;
	
}

.property-item{
	width: 50%;
	float: left;
	height: 50px;
	padding-top: 10px;
	
}

.user{
	cursor: pointer;
}

.user-review{
	width: 230px;
	height: 70px;
	background-color: #FFF;
	padding: 5px;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
-webkit-box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    1px 2px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         1px 2px 5px 0px rgba(50, 50, 50, 0.75);
}

.user-review p{
padding-left: 60px;
}

.user-review-title{
	margin-top: 0px;
	margin-left: 60px;
	margin-bottom: 0px;
	
}

#project-title{
	position: absolute;
	float: left;
	text-align: center;
	top: 30%;
	left: 0px;
	padding-left: 10%;
	padding-right: 10%;
	width: 100%;
	font-weight: bolder;
	opacity: 0.7;
	font-size: 50px;
	letter-spacing: 5px;
	text-shadow: 2px 2px 4px rgba(150, 150, 150, 1);
	color: #FFF;	
}

#post_title{
	margin-bottom: 10px;
}
.fav_btn_selected{
color: #E6E506 !important;
}

.no_right_border{
	border-right-style: none;
}

.media-footer{
	bottom: 0px;
	width: 100%;
	height: 20px;
	margin-top: 15px;

}
.media-time-container{
	margin-right: 10px;
}

.btn-vote{
	background-color: #FFF;
	border-color: #AAAAAA;
	color: #323232;
	font-size: 20px;
	
}

.btn_selected{
	color: #E6E506 ;
}

.profile-pic{
    max-width: 250px;
    max-height: 250px;
}

.btn-vote:hover{
	border-color: #323232;
}

.upvote_selected{
	color: #AFEA32 !important;
}

.upvote_selected:hover{
	color: #AFEA32;
	border-color: #323232;
}

.downvote_selected:hover{
	color: #CC3114;
	border-color: #323232;
}

.downvote_selected{
	color: #CC3114 !important;
}

.progress-bar-success{
	background-color: #93D706;
}

.progress-bar-danger{
	background-color: #CC3114;
}

.btn-create-project{
	background: rgba(193,241,91,1);
	background: -moz-linear-gradient(top, rgba(193,241,91,1) 0%, rgba(193,241,91,1) 70%, rgba(147,215,6,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(193,241,91,1)), color-stop(70%, rgba(193,241,91,1)), color-stop(100%, rgba(147,215,6,1)));
	background: -webkit-linear-gradient(top, rgba(193,241,91,1) 0%, rgba(193,241,91,1) 70%, rgba(147,215,6,1) 100%);
	background: -o-linear-gradient(top, rgba(193,241,91,1) 0%, rgba(193,241,91,1) 70%, rgba(147,215,6,1) 100%);
	background: -ms-linear-gradient(top, rgba(193,241,91,1) 0%, rgba(193,241,91,1) 70%, rgba(147,215,6,1) 100%);
	background: linear-gradient(to bottom, rgba(193,241,91,1) 0%, rgba(193,241,91,1) 70%, rgba(147,215,6,1) 100%);
	background-color: #93D706;
	font-weight: bold;
	border-style: none;
	margin-right: 50px;
	color: #323232;
}

.btn-discover-projectie{
	margin-left: 15px;
	background: rgba(208,71,100,1);
	background: -moz-linear-gradient(top, rgba(73,172,255,1) 0%, rgba(73,172,255,1) 70%, rgba(55,131,196,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73,172,255,1)), color-stop(70%, rgba(73,172,255,1)), color-stop(100%, rgba(55,131,196,1)));
	background: -webkit-linear-gradient(top, rgba(73,172,255,1) 0%, rgba(73,172,255,1) 70%, rgba(55,131,196,1) 100%);
	background: -o-linear-gradient(top, rgba(73,172,255,1) 0%, rgba(73,172,255,1) 70%, rgba(55,131,196,1) 100%);
	background: -ms-linear-gradient(top, rgba(73,172,255,1) 0%, rgba(73,172,255,1) 70%, rgba(55,131,196,1) 100%);
	background: linear-gradient(to bottom, rgba(73,172,255,1) 0%, rgba(73,172,255,1) 70%, rgba(55,131,196,1) 100%);
	background-color: rgba(73,172,255,1);
	font-weight: bold;
	border-style: none;
	color: #323232;
}

.dropdown-menu>li>a{
text-align: left;
}

.dropdown-toggle{
	margin-right: 5px;
}

.participation_entry{
	overflow: hidden;
	#border-bottom: 1px solid #555;
	#box-shadow: 3px 3px 5px #888888;
	margin-bottom: 5px;
	border-top-left-radius: 3px;
}

.participation_entry:not(:last-child){
	border-bottom: 1px solid #CCCCCC;
}

.participation_entry a:focus,
.participation_entry a:hover
{
	color: black;
}

.participation_entry>div:first-child{
	background-image: url(/public/images/pane_header.png);
	height: 40px;
	width: 100%;
	background-repeat: no-repeat;
	background-size: auto 40px;
	padding-left: 10px;
	padding-top: 1px;
	font-size: 20px;
}

.participation_entry.active_participation>div:first-child{
	color: #92D405;
}

.participation_entry.open_participation>div:first-child{
	color: #38B4D8;
}

.participation_entry>div:nth-child(2){
	display: table;
}

.participation_entry>div>div{
	display: table-cell;
	vertical-align: top;
}

.participation_entry>div>div:first-child{
	padding: 0 5px 5px 5px;
}

.participation_entry>div>div:nth-child(2){
	position: relative;
	width: 100%;
}

.participation_entry>div>div:nth-child(2)>h1{
	font-size: 26px;
}

.participation_entry>div>div:nth-child(2)>h2{
	font-size: 16px;
	color: #777;
}

.participation_entry h1, h2{
	margin: 0;
	padding: 0;
}

.participation_entry>div>div>div{
	position: absolute; bottom:0px;
	width: 100%;
	text-align: right;
}

.participation_entry>div:nth-child(2)>div:nth-child(2)>div:nth-child(3) div{
	margin: 5px 2px 5px 1px;
	padding: 2px;
	border-radius: 5px;
	border: 1px solid #999;
	background-color: #AAA;
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
	cursor: pointer;
}

.participation_entry div.leave,
.participation_entry div.kick,
.participation_entry div.remove{
	background-color: #D9534F !important;
	border-color: #D23531 !important;
}

.participation_entry div.cancel-request{}

.participation_entry div.accept,
.participation_entry div.participate,
.participation_entry div.invite{
	background-color: #92D405 !important;
	border-color: #88C804 !important;
}

.participation_entry div.rights{
	background-color: #5BC0DE !important;
	border-color: #38B4D8 !important;
}

.participation_entry hr{
	margin: 0 0 5px 0;
}

.participation_entry .participation_entry_rights_rolldown{
	display: none;
}

.desc_panel{
	background-image: url(/public/images/pane_header.png);
	height: 40px;
	background-repeat: no-repeat;
	background-size: auto 40px;
	padding-left: 10px;
	font-size: 20px;
	border-style: none !important;
}

.panel-default{
	border-style: none !important;
	box-shadow: none;
}


.panel-body{
	border-style: none;
	box-shadow: none;
	padding: 0;
	margin-bottom: 10px;
}

.panel-title{
	color: #92D405;
	font-size: 20px;
}

.panel-group .panel-heading+.panel-collapse>.panel-body{
	border-style: none;
}

.panel-heading{
	background-color: #FFF !important;
	background-image: url(/public/images/pane_header.png);
	background-size: auto 40px;
	background-repeat: no-repeat;
	padding:  5px 10px 20px;
}
.panel-group{
	margin-top: 10px;
}

#tag_panel{
	padding: 0px;
}

.tag-heading{
	padding-bottom: 9px !important;
}

.title-desc-list,
.title-desc-list:active,
.title-desc-list:focus{
	text-decoration: none;
	color: black;
}

.title-desc-list:hover > div{
	color: black;
	box-shadow: 1px 1px 30px #AAA;
}

.title-desc-list > hr{
	border-color: #DDD;
}

.post_group{
width: 100%;
padding: 10px;
margin: 15px 5px 5px 5px;
border-left: 5px solid #C1F15B;
}

.post_group input, .post_group textarea, .post_group textarea:focus{
	border: none;
	outline-width: 0;
	width: 100%;
	float: left;
}

.post_group input{
	font-size: 18px;
	margin-bottom: 5px;
}

.media-source{
	cursor: pointer;
}

.request-entry{
	overflow: hidden;
	border: 1px solid #CCC;
}

.request-entry:first-child{
	margin-top: 10px;
}

.request-entry h1{
	font-size: 22px;
	margin: 3px 0 0 0;
}

.request-entry img{
	margin-right: 10px;
}

.request-entry-tagline{
	color: #CCC;
	font-size: 14px;
}

.request-entry-tag{
	color: #999;
	font-size: 16px;
}

.large-box-centered{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.large-box-centered h2{
margin-bottom: 10px;
}

.large-box-centered img{
margin-left: auto;
margin-right: auto;
}

.large-box-centered table{
margin-left: auto;
margin-right: auto;
-webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    3px 3px 10px 0px rgba(50, 50, 50, 0.75);
box-shadow:         3px 3px 10px 0px rgba(50, 50, 50, 0.75);
}

.project-banner{
	margin: 0 auto 0 auto;
	position: relative;
	padding-bottom: 42%; /* 2.39:1 */
	z-index: 2;
}

.project-banner-inner{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: red;
}

.project-banner-content{
	position: relative;
	background-color: blue;
	width: 100%;
	height: 100%;
	z-index: 0;
	background-size: cover;
}

.project-banner-title{
	position: absolute;
	left: 0;
	top: 0;
	color: white;
	background-color: rgba(0, 0, 0, .3);
	z-index: 1;
	font-size: 30px;
	padding: 3px 10px 3px 10px;
	border-bottom-right-radius: 10px;
}

.project-banner-arrow-left,
.project-banner-arrow-right{
	min-width: 50px;
	background-size: 100%;
	position: absolute;
	z-index: 1;
	width: 5%;
	height: 100%;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position-y: center;
}

.project-banner-arrow-left:hover,
.project-banner-arrow-right:hover{
	transition: background-color 0.25s ease;
	background-color: rgba(0, 0, 0, 0.3);
}

.project-banner-arrow-left{
	left: 0;
	background-image: url(/public/images/carousel-arrow-left.png);
}

.project-banner-arrow-right{
	right: 0;
	background-image: url(/public/images/carousel-arrow-right.png);
}

.project-banner-edit{
	color: white;
	font-size: 20px;
	position: absolute;
	left: 10px;
	bottom: 0;
	padding: 5px 10px 0 10px;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px 10px 0 0;
	z-index: 1;
}

.project-banner-edit-btn,
.project-banner-edit-btn:active,
.project-banner-edit-btn:focus{
	cursor: pointer;
	color: white;
	outline: 0;
}

.project-banner-edit-btn:hover{
	color: rgba(193,241,91,1);
}

.project-banner-info{
	color: white;
	font-size: 25px;
	position: absolute;
	bottom: 0;
	right: 10%;
	z-index: 1;
	padding: 0 10px 0 10px;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 10px 10px 0 0;
}

.project-banner-info .glyphicon{
	font-size: 20px;
	margin-left: 5px;
}

.project-banner-content{
	overflow: hidden;
}

.project-banner-content-list{
	position: relative;
	white-space: nowrap;
	font-size: 0px;
	left: 0;
}

.project-banner-content-list-item{
	display: inline-block;
}

.project-banner-content-list-item img{
	width: 100%;
	height: 100%;
}

.project-banner-backdrop{
	z-index: 1;
	background-color: #333;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 492px;
}

.project-banner-wrapper{
	position: static !important;
	padding: 0;
}

.project_preview{
	width: 100%;
	height: 100%;
	#border-radius: 10px;
	border: 1px solid #CCC;
	margin-bottom: 50px;
}

.project_preview:hover{
	-webkit-box-shadow: 3px 3px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    3px 3px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         3px 3px 10px 0px rgba(50, 50, 50, 0.75);
}

.preview_head{
	width: 100%;
	height: 100%;
	padding-bottom: 42%;
	position: relative;

}

.preview_head img{
	height: 100%;
	width: 100%;
	#border-top-left-radius: 10px;
	#border-top-right-radius: 10px;
}

.preview_properties{
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	bottom: 1px;
	right: 10px;
	padding: 5px 0 0 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-size: 25px;
	color: #FFF;
	font-weight: bold;
	z-index: 2;
}

.preview_properties > .members, .favs{
	float: right;
	font-size: 15px;
	margin: 0 3px 0 3px;
	
}

.members > span, .favs > span{
	margin-right: 3px;
	font-size: 15px;
}

.preview_content{
	width: 100%;
	padding: 10px;
	height: 100%;
	max-height: 150px;
	overflow: hidden;
}


.preview_content > h3{
	margin-top: 0px;
	color: #666;
	font-weight: bold;
	text-align: center;
}

.head_wrap{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.max_width {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

a.neutral{
	text-decoration: none;
	color: black;
}

.nav-tabs{
	border: 0;
}

.nav-tabs>li>a{
	border: 0;
	border-radius: 0;
	border-bottom: 5px solid white;
}

.nav-tabs>li>a:hover{
	color: black;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus{
	border-style: solid;
	border-color: rgba(193,241,91,1);
	border-width: 0 0 5px 0;
}

.project-heading{
	height: 300px;
}

.stretch-vertical{
	height: 100%;
}

.content-col{
	padding: 0;
}

#desc_area{
	resize: vertical;
}

.dark{
	background-color: #333;
}

.light{
	background-color: white;
}

.footer{
	padding-top: 25px;
	padding-bottom: 15px;
	color: #CCC !important;
}

.footer a{
	color: #CCC;
}

.footer a:hover{
	color: white;
}

.post{
	width: 100%;
	max-height: 390px;
	padding: 5px;
	padding-left: 10px;
	margin: 20px 5px 0px 5px;
	border-left: 5px solid #C1F15B;
	overflow: hidden;
}

.post h3{
margin-top: 0px;
margin-bottom: 5px;
line-height: 0.9;
width: 90%;
}

.post h4{
	font-weight: 400;
}

.post span{
	margin-right: 5px;
}

.post a:hover{
	color: #ccc;
}

.post img{
 width: 50px;
 height: 50px;
 margin-right: 5px;
}

.post-head{
	padding-bottom: 5px;
	margin-bottom: 5px;
}

.post-body{
	padding-top: 5px;
}

.project-fav{
	color: white;
	cursor: pointer;
}

.project-fav:hover{
	color: yellow;
}

.project-fav-active{
	color: rgba(193,241,91,1);
}

.create-project-introduction{
	font-family: "Source Sans Pro", sans-serif;
	font-size: 20px;
	padding-bottom: 50px;
}

.create-project-introduction h1{
	font-size: 30px;
	font-weight: bold;
}

.cta{
	margin: 100px 0 100px 0;
}

.cta-heading,
.cta-text{
	font-family: "Source Sans Pro", sans-serif;
	text-align: right;
	font-weight: bold;
}

.cta-heading{
	color: black;
	font-size: 2.5em;
}

.cta-text{
	color: #777;
	font-size: 2em;
}

.cta-btn-link{
	text-decoration: none;
	color: white;
}

.cta-btn{
	border-radius: 3px;
	box-shadow: 3px 3px 5px black;
	font-weight: bold;
	color: white;
	font-size: 2.5em;
	text-align: center;
	line-height: 150px;
	margin-top: 45px;
	margin-left: 10%;
	width: 80%;
	height: 150px;
	background-color: #AAA;
	background-image: url(/public/images/cta_btn_background.png);
	background-size: 100% 100%;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	border: none !important;
}
