<li hidden id='chat-msg-prefab' class="right clearfix">
	<span class="chat-img pull-right">
		<img src="/public/images/default-profile-pic.png" alt="User Avatar" class="img-rounded" height="50" width="50"/>
	</span>
	<div class="chat-body clearfix">
		<div class="header">
			<small class="chat-msg-time-container text-muted"><span class="glyphicon glyphicon-time"></span><span class="chat-msg-time">-Time since message-</span></small>
			<strong class="chat-msg-sender pull-right primary-font">-Username-</strong>
		</div>
		<p class='chat-msg-content'>
			-Content-
		</p>
	</div>
</li>   