<div id="position_participate_modal" class="modal fade" tabindex="-1" role="dialog" data-project-position-id="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <h3>Do you really want to participate in the project '<span class="project-title"></span>'?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default confirm">Participate</button>
        </div>
    </div>
  </div>
</div>

<script>

$(document).ready(function(){
    $("#position_participate_modal").on("show.bs.modal", function(event){
        $(event.currentTarget).find(".project-title").text($(event.relatedTarget).data("project-title"));
        $(event.delegateTarget).attr("data-project-position-id", $(event.relatedTarget).data("project-position-id"))
    });

    $("#position_participate_modal").on("click", ".confirm", function(event){
        Projectie.Project.sendParticipationRequestToProject($(event.delegateTarget).attr("data-project-position-id"));
    });
});

</script>