<a id="project_preview" class="neutral" href="project/show/" hidden>
	<div class="project_preview">
		<div class="preview_head">
			<div class="head_wrap">
				<img src="/public/images/header.jpg">
				<div class="preview_properties pull-right">
					<div class="favs">
						<!-- fav count goes here -->
						<span class="glyphicon glyphicon-star"></span>
					</div>
					<div class="members">
						<!-- participator count goes here -->
						<span class="glyphicon glyphicon-user"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="preview_content">
			<h3><!-- project title goes here --></h3>
			<!-- project description goes here -->
		</div>
	</div>
</a>